<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Baza Noua</title>
</head>
<body>
<div align="center">
    <h1>Introduceti o noua baza</h1>
    <br />
    <form action="#" th:action="@{/companie/baza/save}" th:object="${baza}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Nume 3 litere:</td>
                <td><input type="text" th:field="*{nume}" /></td>
            </tr>
            <tr>
                <td>Cafenea (True/False):</td>
                <td><input type="text" th:field="*{cafenea}" /></td>
            </tr>
            <tr>
                <td>Service Mentenanta (True/False):</td>
                <td><input type="text" th:field="*{service_mentenanta}" /></td>
            </tr>
            <tr>
                <td>Hotel Partener (True/False):</td>
                <td><input type="text" th:field="*{hotel_partener}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Salvati</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>