<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Moldovean Airlines Application</title>
    <style>
        div center{
            background-image: url('avion.jpg');
        }
    </style>
</head>
<body>
<div center align="center">
    <h2>Selectați tabela pe care doriți să o modificați:</h2>
    <a href="companie/angajat"><button type="button">Angajat</button></a>
    <a href="companie/avion"><button type="button">Avion</button></a>
    <a href="companie/baza"><button type="button">Baza</button></a>
    <a href="companie/echipaj"><button type="button">Echipaj</button></a>
    <a href="companie/ruta"><button type="button">Ruta</button></a>
    <a href="companie/zbor"><button type="button">Zbor</button></a>
</div>
</body>
</html>