<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Moldovean Airlines Application</title>
    <style>
        div center{
            background-image: url('avion.jpg');
            }
    </style>
</head>
<body>
<div center align="center">
    <h2>Selectați modul de utilizare:</h2>
    <a href="/client"><button type="button">CLIENT</button></a>
    <a href="/companie"><button type="button">COMPANIE</button></a>
</div>
</body>
</html>