<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Ruta Noua</title>
</head>
<body>
<div align="center">
    <h1>Introduceti o noua ruta</h1>
    <br />
    <form action="#" th:action="@{/companie/ruta/save}" th:object="${ruta}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Ruta:</td>
                <td><input type="text" th:field="*{ruta}" /></td>
            </tr>
            <tr>
                <td>Distanta:</td>
                <td><input type="text" th:field="*{distanta}" /></td>
            </tr>
            <tr>
                <td>Durata:</td>
                <td><input type="text" th:field="*{durata}" /></td>
            </tr>
            <tr>
                <td>Legatura cu Baza1:</td>
                <td>
                    <select th:field="*{baza_nume1}">
                        <option th:each="baza: ${listBaza}"
                                th:value="${baza.nume}"
                                th:utext="${baza.nume}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Legatura cu Baza2:</td>
                <td>
                    <select th:field="*{baza_nume2}">
                        <option th:each="baza: ${listBaza}"
                                th:value="${baza.nume}"
                                th:utext="${baza.nume}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Legatura cu Avion:</td>
                <td>
                    <select th:field="*{avion_avion_id}">
                        <option th:each="avion: ${listAvion}"
                                th:value="${avion.avion_id}"
                                th:utext="${avion.avion_id}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Legatura cu Angajat:</td>
                <td>
                    <select th:field="*{angajat_angajat_id}">
                        <option th:each="angajat: ${listAngajat}"
                                th:value="${angajat.angajat_id}"
                                th:utext="${angajat.nume} + ' ' + ${angajat.prenume}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Salvati</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>